*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-bg: (rgb)
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#videoBG {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
}

.img-blood {
  width: 150px;
  position: absolute;
  top: -2%;
  left: -0.5%;
}

.about {
  font-family: 'p2p'; 
  width: 90%;
  color: rgb(255, 0, 0);
  font-size: 43px;
  background-color: rgba(0, 0, 0, 0.7);
  text-shadow: 
  0 0 1em hsl(0 0% 100% / 0.3), 0 0 5.0em rgb(255, 0, 0);
  padding: 1em 1em;
  padding-right: 0.5em;
  transform: translate3d(0, -25%, 0);
  border:rgb(255, 0, 0) 4px solid;
  border-radius: 0.5em;
  box-shadow: inset 0 0 0.1em 0 rgb(255, 0, 0), 0 0 1em 0 rgb(255, 0, 0);
  position: absolute;
  left: 5%;
  top: 25%;
  transition: 0.2s;
}

.roadmap {
  font-family: 'p2p'; 
  width: 97%;
  color: rgb(255, 0, 0);
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  text-shadow: 
  0 0 1em hsl(0 0% 100% / 0.3), 0 0 5.0em rgb(255, 0, 0);
  padding: 1em 1em;
  padding-bottom: 0.1em;
  border:rgb(255, 0, 0) 4px solid;
  border-radius: 0.5em;
  box-shadow: inset 0 0 0.1em 0 rgb(255, 0, 0), 0 0 1em 0 rgb(255, 0, 0);
  position: absolute;
  top: 10%;
  left: 1.5%;

  transition: 0.2s;
}

.close-button {
  font-family: 'p2p';
  font-size: 1.5rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  padding: 0em 0.07em;
  border:rgb(255, 0, 0) 4px solid;
  color: rgb(255, 0, 0);
  border-radius: 0.25em;
  z-index: 98;
  background: black;

  text-shadow: 
  0 0 0.1em hsl(0 0% 100% / 0.3), 0 0 0.05em rgb(255, 0, 0);

  box-shadow: inset 0 0 0.1em 0 rgb(255, 0, 0), 0 0 1em 0 rgb(255, 0, 0);
  position: absolute;
  top: 8%;
  left: 93.5%;
}

.close-button:hover {
  background: rgb(255, 0, 0);
  color: var(--clr-bg);
  text-shadow: none;
  z-index: 10in;
}

.close-button:hover, .close-button:focus{
  background: rgb(255, 0, 0);
  color: var(--clr-bg);
  text-shadow: none;
  z-index: 10in;
}

.close-button::after{
  content: '';
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0%;
  box-shadow: 0 0 1em 0.1em rgb(255, 0, 0);
  opacity: 0;
  transition: opacity 100ms linear;
}

.close-button:hover::after{
  opacity: 1;
}

.cb2 {
  font-family: 'p2p';
  font-size: 1.5rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  padding: 0em 0.07em;
  border:rgb(255, 0, 0) 4px solid;
  color: rgb(255, 0, 0);
  border-radius: 0.25em;
  z-index: 98;
  background: black;

  text-shadow: 
  0 0 0.1em hsl(0 0% 100% / 0.3), 0 0 0.05em rgb(255, 0, 0);

  box-shadow: inset 0 0 0.1em 0 rgb(255, 0, 0), 0 0 1em 0 rgb(255, 0, 0);
  position: absolute;
  top: -3.25%;
  left: 98.8%;
}

.cb2:hover {
  background: rgb(255, 0, 0);
  color: var(--clr-bg);
  text-shadow: none;
  z-index: 10in;
}

.cb2:hover, .close-button:focus{
  background: rgb(255, 0, 0);
  color: var(--clr-bg);
  text-shadow: none;
  z-index: 10in;
}

.cb2::after{
  content: '';
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0%;
  box-shadow: 0 0 1em 0.1em rgb(255, 0, 0);
  opacity: 0;
  transition: opacity 100ms linear;
}

.cb2:hover::after{
  opacity: 1;
}

.popup {
  display: none;
}

.popup:target {
  display: block;
}

ul {
  position: absolute;
  top: 0.4%;
  left: 90.5%;
  display: flex;
  gap: 45px;
}

ul li{
  position: relative;
  list-style: none;
  width: 10px;
  height: 10px;
  display: flex;
  cursor: pointer;
  transition: 0.2s;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

ul li a {
  position: relative;
  text-decoration: none;
  color: rgb(255, 0, 0);
  font-size: 200%;
  z-index: 10;
  transition: 0.2s;
  text-shadow: 
  0 0 0.1em hsl(0 0% 100% / 0.3), 0 0 0.15em rgb(255, 0, 0);
  
  position: relative;

  transition: rgb(138, 1, 1) 100ms linear;
}

ul li:hover a {
  font-size: 3rem;
  text-shadow: 0 0 0.1em hsl(0 0% 100% / 0.3), 0 0 0.25em rgb(255, 0, 0);;
}

model-viewer {
  width: 100%; 
  height: 100%;
  background-color: var(--clr-bg);
}


.progress-bar {
  display: block;
  width: 500px;
  height: 3em;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 1.5em;
  box-shadow: 0px 3px 10px 3px rgba(255, 0, 0, 0.5), 0px 0px 5px 1px rgba(255, 0, 0, 0.5);
  border: 1px solid rgba(255, 0, 0, 0.9);
  background-color: rgb(255, 255, 255);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.001s;
}

.update-bar {
  background-color: rgba(225, 17, 17, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}


@keyframes circle {
  from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
  to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes elongate {
  from { transform: translateX(100px); }
  to   { transform: translateX(-100px); }
}

model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}

@font-face {
  font-family: 'p2p';
  src: url("MonumentExtended-Regular.otf");
}

.btn {
  font-family: 'p2p';
  font-size: 150%;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  padding: 0em 0.07em;
  border:rgb(255, 0, 0) 4px solid;
  color: rgb(255, 0, 0);
  border-radius: 0.25em;
  list-style: none;
  position: absolute;
  cursor: pointer;
  top: 0.5%;
  text-shadow: 
  0 0 0.1em hsl(0 0% 100% / 0.3), 0 0 0.05em rgb(255, 0, 0);

  box-shadow: inset 0 0 0.1em 0 rgb(255, 0, 0), 0 0 1em 0 rgb(255, 0, 0);
  

  transition: 0.5s;
}

.btn:hover, .btn:focus{
  background:rgb(255, 0, 0);
  color: var(--clr-bg);
  text-shadow: none;
  z-index: 10in;
  position: absolute;
  transition: 0.2s;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0.5em 0 rgb(255, 0, 0), 0 0 1.5em 0.2em rgb(255, 0, 0);
}

.btn::after{
  content: '';
  position: relative;
  
  opacity: 0;
  transition: opacity 100ms linear;
  
}

.btn:hover::after{
  opacity: 1;
  transition: 2.0s;
}

.btn1 {
  left: 66vw;
}

.btn2 {
  font-size: 150%;
  font-family: 'p2p';
  font-size: 1.5rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  padding: 0em 0.07em;
  border:rgb(255, 0, 0) 4px solid;
  color: rgb(255, 0, 0);
  border-radius: 0.25em;
  position: absolute;
  top:0.5%;
  left: 76%;
}

.container {
  left: 500vw;
}

@media only screen and (max-width: 500px) {
  .btn1 {
    font-size: 75%;
    top: 2%;
    left: 30%;
  }
  .btn2 {
    font-size: 75%;
    top: 2%;
    left: 50%;
  }
  .about {
    font-size: 24px;
    top: 27%;
  }
  .close-button {
    top: 6%;
    left: 90%;
  }
  .roadmap {
    font-size: 16px;
  }
  .cb2 {
    left: 95%;
    top: -3%;
    font-size: 17px;
  }
  #videoBG {
    transform: translate3d(-50%, -50%, 0);
  }
  ul {
    position: absolute;
    top: 1%;
    left: 74%;
    display: flex;
    gap: 120%;
  }
  
  ul li{
    position: relative;
    list-style: none;
    width: 10px;
    height: 10px;
    display: flex;
    cursor: pointer;
    transition: 0.2s;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  ul li a {
    position: relative;
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-size: 130%;
    z-index: 10;
    transition: 0.2s;
    text-shadow: 
    0 0 0.1em hsl(0 0% 100% / 0.3), 0 0 0.15em rgb(255, 0, 0);
    
    position: relative;
  
    transition: rgb(138, 1, 1) 100ms linear;
  }
  
  ul li:hover a {
    font-size: 3rem;
    text-shadow: 0 0 0.1em hsl(0 0% 100% / 0.3), 0 0 0.25em rgb(255, 0, 0);;
  }
  .img-blood {
    width: 100px;
    top: -.5%;
  }
}


